<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>Mary Market</title>
    <link rel="icon" href="../images/favicon.png" sizes="16x16"/>
    <!-- CSS only -->
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/real_slide.css}">
    <link rel="stylesheet" th:href="@{/css/management.css}">
    <script src="/js/mdpick.js" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

<!--    <link rel="stylesheet" th:href="@{/css/jquery_bxslider.css}">-->
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bxslider@4.2.17/dist/jquery.bxslider.min.css">-->
<!--    <script src="https://cdn.jsdelivr.net/npm/bxslider@4.2.17/dist/jquery.bxslider.min.js"></script>-->
<!--    <script src="/js/jquery.bxslider.js" defer></script>-->
<!--    <script>-->
<!--        $(document).ready(function(){-->
<!--            $(".bxslider").bxSlider({-->
<!--                auto: true,-->
<!--                autoControls: true,-->
<!--                stopAutoOnClick: true,-->
<!--                pager: false,-->
<!--                infiniteLoop:true,-->
<!--                controls:true,-->
<!--                slideWidth: 1920-->
<!--            });-->
<!--            console.log("bxsliderstart")-->
<!--        });-->
<!--    </script>-->

    <th:block layout:fragment="css"></th:block>

</head>
<body>

<div th:replace="fragments/new-header2::header"></div>

<div layout:fragment="content" class="content"></div>

<div th:replace="fragments/footer::footer"></div>
<th:block layout:fragment="script"></th:block>

</body>
</html>